# Archivos generados por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Archivos de configuración específicos de usuario
UserSettings/

# Archivos de sistema
.DS_Store
Thumbs.db

# Otros
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
